/* Style Sheet */
.button {
  height: 30px;
  width: 30px;
}
#start,
#end {
  outline: 1px solid black;
}
#display {
  position: relative;
}
#time {
  outline: 1px solid black;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
